<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header></header>

    <p><a href="/login">login</a> to the site , if you don't have an account <a href="/register">register</a></p>
  </body>
</html>
