<%- include('header.ejs')%>
<div class="container">
	<h2 class="col-sm-6 col-sm-offset-3">Login user:</h2>
	<% if (errMessage){ %>
	<div class="col-sm-6 col-sm-offset-3 alert alert-danger"><%= errMessage %></div>
	<% } %>
	<form action="/login" method="POST" class="col-sm-6 col-sm-offset-3 well">
		<p class="form-group">
			<label for="role">Login Type</label>
			<select name="role" id="role" class="form-control">
				<option value="orchestra_officer">Orchestra Officer</option>
				<option value="musician">Musician</option>
				<option value="member">Member</option>
			</select>
		</p>
		
		<p class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control">
		</p>
		<p class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control">
		</p>
		<p class="form-group">
			<input type="submit" value="Login" class="form-control btn btn-primary">
		</p>
		<p class="form-group text-center">
			<a href="/reset" >forget your password</a>
		</p>
	</form>
</div>
<%- include('footer.ejs')%>