<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header></header>

	<h2>Login user:</h2>
	<% if (errMessage){ %>
	<div class="error"><%= errMessage %></div>
	<% } %>
	<form action="/login" method="POST">
		<p>
			<label for="role">Login Type</label>
			<select name="role" id="role">
				<option value="orchestra_officer">Orchestra Officer</option>
				<option value="musician">Musician</option>
			</select>
		</p>
		
		<p>
			<label for="email">Email</label>
			<input type="email" name="email">
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" name="password">
		</p>
		<p>
			<input type="submit" value="Login">
		</p>
	</form>
	
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/register.js"></script>
</body>
</html>
