<%- include('header.ejs')%>
<div class="container">
		<h3 class="col-sm-6 col-sm-offset-3">Register new member</h3>
		<% if (errMessage){ %>
			<div class="error"><%= errMessage %></div>
		<% } %>
		<form action="/register" method="POST" class="col-sm-6 col-sm-offset-3 well">
			<input type="hidden" name="role" value="member">
			<p class="form-group">
				<label for="firstname">First Name</label>
				<input class="form-control" type="text" name="firstname">
			</p>
			<p class="form-group">
				<label for="surname">Surname</label>
				<input class="form-control" type="text" name="surname">
			</p>
			<p class="form-group">
				<label for="gender">Gender</label>
				<select name="gender"  class="form-control">
					<option value="male">Male</option>
					<option value="female ">Female</option>
				</select>
			</p>
			<p class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email">
			</p>
			<p class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password">
			</p>
			<p class="form-group">
				<label for="repassword">Retype Password</label>
				<input class="form-control" type="password" name="repassword">
			</p>
			<p>
				<input class="form-control btn btn-primary" type="submit" value="Register">
			</p>
		</form>
</div>	
<%- include('footer.ejs')%>